<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384836866552-tijp1lttl1afup8thvohgusqbfqlmnvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384836866552-tijp1lttl1afup8thvohgusqbfqlmnvd</string>
	<key>API_KEY</key>
	<string>AIzaSyAjJvpc1XapuFdzqQrtPCDUJEp2Hx30oC0</string>
	<key>GCM_SENDER_ID</key>
	<string>384836866552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.COVIDBois.TravelApp</string>
	<key>PROJECT_ID</key>
	<string>travelapp-92112</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-92112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384836866552:ios:e8783f3e5bd5a192bb860d</string>
	<key>DATABASE_URL</key>
	<string>https://travelapp-92112.firebaseio.com</string>
</dict>
</plist>